@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .before-component-1 {
    background-image: linear-gradient(to bottom right, red, yellow);
    position: absolute;
    width: 10px;
    height: 295px;
  }
  .bg-size {
    background-size: 500px;
  }

  .before-component-2 {
    background-image: linear-gradient(to bottom right, #e2d9d7, #ba704f);
    position: absolute;
    width: 10px;
    height: 295px;
    right: 0px;
  }
  .smal-ldev-before-1::before {
    position: absolute;
    bottom: -200px;
  }
  .shadow {
    box-shadow: 10px 10px 10px red;
    border-radius: 50%;
  }
}
